<div class="container mt-5">
  <h1>Stupid Coaching</h1>
<p class="mt-4">Ask your coach anything:</p>
<form action="/answer" data-turbo="false">
  <label for="question">Your question</label>
  <input type="text" id="question" name="question">
  <input type="submit" value="Ask!">
</form>
